In [1]:
console.log("Hello World!")

Hello World!

In [2]:
// comment
// this is something else
// this is something descriptive about something

/*
 *
 *
 * this is a huge comment that spans
 * multiple lines and should be used
 * if the comment is very long
 *
 */

In [3]:
// console.log - to display information to the console
// any information that helps troubleshoot your programs

// simple output
console.log("Hello World!");
console.log("123");
// text inside quotation marks is called a "string"
console.log("Address: 123 Somewhere Dr, Halifax, N.S.");
// integers are types of data that you can do math on
console.log(123);
// there are some special "characters" that perform different actions
console.log("Hello\nWorld");

Hello World!
123
Address: 123 Somewhere Dr, Halifax, N.S.
123
Hello
World

In [4]:
// prompt - used to get input from the user
// allows the user to enter in answers to questions
// e.g. what day of the week is it? Friday
prompt("What day of the week is it?")

What day of the week is it? Friday

"Friday"

In [5]:
// variables
let name;
// naming convention - "camelCasing"
let dayOfWeek;
let happiestDay;
let endOfWeek;
// bad names for variables
let XXXXX_____YYYYY_asdasdasd; // day of the week
//let my Name; // invalid name - spaces are not allowed
//let 123; // invalid name - can't be all numbers
//let :); // invalid name - can only use alphanumeric characters or the underscore

In [8]:
let dayOfWeek = prompt("What is the day of the week?");
console.log("The day of the week is", dayOfWeek);

What is the day of the week? Friday

The day of the week is  Friday

In [13]:
// other uses of variables
let myNumber = 12345; // integer
let myString = "12345"; // string
console.log(myString);
console.log(myNumber);
let myDecimal = 12.34; // floating point
console.log("Data:", myNumber, myString, myDecimal);
console.log(`Price = $${myDecimal}`); // template literal

12345
12345
Data: 12345 12345 12.34
Price = $12.34

In [14]:
// what if a variable is not "declared"?
console.log(notAVariable);

ReferenceError: notAVariable is not defined

In [15]:
// Create a script that creates three variables to hold the current day, month and year. 
// Display the current date using those variables nicely formatted.
let day = 19;
let month = "September";
let year = 2025;
console.log(month, day, year);

September 19 2025

In [16]:
// Create a script that asks the user's first name and last name, 
// then have the script output their email address in the format 
// `<first name>.<last name>@nscc.ca`
let firstName = prompt("Enter your first name:");
let lastName = prompt("Enter your last name:");
console.log(`${firstName}.${lastName}@nscc.ca`);

Enter your first name: brian
Enter your last name: shewan

brian.shewan@nscc.ca

In [6]:
// more about strings
let text = "Hello World!"; // defining a string variable

// concatenating strings
"concatenate " + "strings";
text = "Hello " + "World";
text = text + "!";

let string1 = "Hello ";
let string2 = "World";
text = string1 + string2;

console.log(text);

Hello World

In [9]:
// concatenate strings and numbers
let address = 5685 + " Leeds St"
console.log(address)
let price = "Price = " + 123.45
console.log(price)

5685 Leeds St
Price = 123.45

In [11]:
// when things can go wrong
let answer = "Sum = " + 1 + 2;
console.log(answer);
answer = "Sum = " + (1 + 2);
console.log(answer);

Sum = 12
Sum = 3

In [14]:
// variable expansion / template literal
let cost = 1.23
let text = "Cost = "
let statement = `Total ${text} ${cost}`
console.log(statement)

Total Cost =  1.23

In [19]:
// expression expansion
//`${"hello" + 666}`
`<h1>Sum = ${1 + 1}</h1>`

"<h1>Sum = 2</h1>"

In [28]:
// substring
"cat dog mouse"
//123456789
let dog = "cat dog mouse".substring(4, 7)
console.log(dog.substring(1, 2))
console.log(dog)
let text = "Mary had a little lamb"
text.substring(18, 22)

o
dog

"lamb"

In [26]:
// repeat operator
"-+".repeat(30)

"-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+"

In [29]:
// more about data types

// string
// - a string of letters, numbers and other characters
// - surrounded by double quotation marks
// - a template literal (using the `) is also a string

// number (integer)
// - a whole number
// 123, 456

// number (decimal, float, double)
// - a decimal number
// 123.456

// boolean
// - contains one of two values: True or False
// - "Yes" or "No", 1 or 0

In [33]:
// determine a type of data
typeof "hello world"
typeof 123.45

"number"

In [45]:
// you can override TypeScript's "brain" to tell it the data type
Number("123")
String(123)
Boolean(0)
Boolean("False")

true

In [53]:
// getting input from the user of a particular data type
let userInput = prompt("Enter a number: ")
Number(userInput)

Enter a number:  123

123

In [55]:
// try to request a different data type instead
let userNumber = parseInt(prompt("Enter a number: ")) || 0
console.log(userNumber)

Enter a number:  abc

0

In [64]:
// math
1 + 2
2 - 1
1 * 2
4 / 3
// long division?
// 4 / 3 = 1 R1 (remainder)
4 % 3 // modulus division (remainder)
2 ** 3 // 2 cubed = 2 x 2 x 2

8

In [65]:
// BEDMAS (order of operations)
// 2 + (3 * 4) ** 5 - 2
// B - Brackets
// E - Exponents
// D / M - division and multiplication
// A / S - addition and subtraction
// 2 + 12 ** 5 - 2
// 2 + 248832 - 2
// 248832
2 + (3 * 4) ** 5 - 2

248832

In [66]:
// square root
25 ** 0.5

5

In [67]:
// assignment operators
let a = 1
a = a + 2
a += 10
a++ // a = a + 1
a = a - 1
a -= 1
a-- // a = a - 1
a = a * 1
a *= 1
a = a / 1
a /= 1

11

In [75]:
// math functions
Math.pow(2, 3)
Math.sqrt(25)
Math.PI
Math.floor(3.56)
Math.ceil(3.45)
Math.round(3.45)

3